@font-face {
  font-family: SourceHanSansCN;
  src: url("../font/font.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SourceHanSansCN;
  src: url("../font/font_bold.otf");
  font-weight: bold;
}
