@font-face {
  font-family: aCustomFontNameForFree;
  src: url('../common/SourceHanSansCN-Normal.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: aCustomFontNameForFree;
  src: url('../common/SourceHanSansCN-Bold.otf');
  font-weight: bold;
}
